<p *ngIf="!count || !results"><em>Loading...</em></p>

<div *ngIf="count && results">
    <h1>Search</h1>
    Results = {{ results.results }}
    <br />
    Count = {{ count.count }}
    <br />
    <button (click)="getstatistics()">Get Stats</button>
    <div *ngIf="stats">
        <ul class="list-unstyled">
            <li>
                Indices
                <ul *ngFor="let index of stats.indices">
                    <li class="col-md-12">{{ index }}</li>
                </ul>
            </li>
            <li>
                Aliases
                <ul *ngFor="let alias of stats.aliases">
                    <li>
                        <div class="col-md-3">{{ alias.key }}</div>
                        <div class="col-md-9">{{ alias.value }}</div>
                    </li>
                    <!--<li class="col-sm-12">{{ alias.value }}</li>-->
                </ul>
                <!--<ul *ngFor="let alias of stats.aliases" class="row list-unstyled">
                    <li class="col-sm-12">{{ alias.value }}</li>
                </ul>-->
            </li>
        </ul>
    </div>
</div>
