<p *ngIf="!stats"><em>Loading...</em></p>

<div *ngIf="stats">
    <h1>Search</h1>
    <button (click)="getstatistics()">Get Stats</button>
    <div *ngIf="stats">
        <ul class="list-unstyled">
            <li>
                Indices
                <ul *ngFor="let index of stats.indices">
                    <li>
                        <div class="col-md-8">{{ index.name }}</div>
                        <div class="col-md-2">{{ index.count }}</div>
                    </li>
                </ul>
            </li>
            <li>
                Aliases
                <ul *ngFor="let alias of stats.aliases">
                    <li>
                        <div class="col-md-3">{{ alias.key }}</div>
                        <div class="col-md-9">{{ alias.value }}</div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
